<body class="text-center">
  <main class="form-signin">
    <form [formGroup]="registerForm">
      <h1 class="h3 mb-3 fw-normal">Kayıt Ol</h1>

      <div class="form-floating mb-1">
        <input
          formControlName="firstName"
          type="text"
          class="form-control"
          id="firstName"
          placeholder="Adınız"
        />
        <label for="floatingInput">Adınız</label>
      </div>
      <div class="form-floating mb-1">
        <input
          formControlName="lastName"
          type="text"
          class="form-control"
          id="lastName"
          placeholder="Soyadınız"
        />
        <label for="floatingPassword">Soyadınız</label>
      </div>
      <div class="form-floating mb-1">
        <input
          formControlName="email"
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">E-Posta</label>
      </div>
      <div class="form-floating mb-1">
        <input
          formControlName="password"
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
        <label for="floatingPassword">Parola</label>
      </div>

      <div class="row">
        <div class="col-6">
          <button class="w-100 btn btn-lg btn-primary"  (click)="register()">
            Kayıt Ol
          </button>

        </div>
        <div class="col-6">
          <button class="w-100 btn btn-lg btn-primary"  routerLink="/login">
            İptal
          </button>
        </div>
      </div>

      <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
  </main>
</body>
