<div class="container">
  <div *ngIf="carDetails" class="card mb-3">
    <div class="row">
      <div *ngFor="let image of carDetails.carImages" class="col-3">
        <img [src]="getImageUrl(image.imagePath)" class="card-img-top" />
      </div>
    </div>
    <div class="rounded-0 mt-4">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Marka</th>
            <th>Renk</th>
            <th>Günlük Fiyat</th>
            <th>Açıklama</th>
            <th>Model Yılı</th>
            <th>Findeks Puanı</th>
            <th>#</th>
          </tr>
        </thead>
        <tr>
          <td>{{ carDetails.id }}</td>
          <td>{{ carDetails.name }}</td>
          <td>{{ carDetails.colorName }}</td>
          <td>{{ carDetails.dailyPrice }}</td>
          <td>{{ carDetails.description }}</td>
          <td>{{ carDetails.modelYear }}</td>
          <td>{{ carDetails.findexPoints }}</td>
          <td>
            <button
              type="button"
              (click)="addRental(carDetails.dailyPrice, carDetails.id)"
              class="btn btn-info"
            >
              Kirala
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
