<div class="mb-3">
  <label for="filterText" class="form-label">Marka Ara</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Arama ifadesi giriniz"


  />
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Marka Adı</th>
      <th style="width:10%">#</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let brand of brands |brandFilter:filterText">
      <td>{{brand.brandId}}</td>
      <td>{{brand.name}}</td>
      <td>  <button type="button" routerLink="/brands/update/{{ brand.brandId }}"
        class="btn btn-info">Güncelle</button>

      </td>
    </tr>
  </tbody>
</table>
<div class="col-12 alert alert-warning" *ngIf="(brands |brandFilter:filterText).length === 0">
  <span *ngIf="filterText">{{ filterText }} aramasına göre </span> markalı araç
  bulunamadı
</div>
